[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/textobj_user"]
	path = bundle/textobj_user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/textobj_function"]
	path = bundle/textobj_function
	url = git://github.com/yejianye/vim-textobj-function.git
[submodule "bundle/tassert"]
	path = bundle/tassert
	url = git://github.com/tomtom/tassert_vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/vim-ref"]
	path = bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "bundle/vim-ref-jquery"]
	path = bundle/vim-ref-jquery
	url = git://github.com/yejianye/vim-ref-jquery.git
[submodule "bundle/quickrun"]
	path = bundle/quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = git://github.com/yejianye/jshint.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/puppet-syntax-highlight"]
	path = bundle/puppet-syntax-highlight
	url = https://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/neocomplcache-snippets-complete"]
	path = bundle/neocomplcache-snippets-complete
	url = git://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-objc"]
	path = bundle/vim-objc
	url = git://github.com/threeve/vim-objc.git
